/* Product items */

div.p-price {
    color: #f44242;
}

button.p-add {
    background: #f46b41;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px;
    margin: 10px 5px 5px 5px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}


/* Responsive */

@media only screen and (max-width: 1024px) {
    div.p-flex {
        width: 33%;
    }
}

@media only screen and (max-width: 600px) {
    div.p-flex {
        width: 50%;
    }
}


/* [DOES NOT MATTER] */

html,
body {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
}

.image {
    /* width: 100%; */
    max-height: 500px;
}


/*REVIEW*/

.contentWrapper {
    width: 100%;
    height: 21vw;
    margin-bottom: 30px;
    max-width: 1000px;
}

.left-container {
    float: left;
    height: 21vw;
    width: 50%;
}

.right-container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    width: 50%;
    float: left;
}

.left-content {
    width: 100%;
    text-align: center;
}

.right-content {
    max-width: 70%;
}

@media screen and (max-width: 700px) {
    .how-container {
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
        margin: 0 auto 60px auto;
    }
    .left-container {
        display: block;
        width: 100%;
        height: auto;
        float: none;
        text-align: center;
        margin: 15px auto 0px auto;
    }
    .right-container {
        display: block;
        width: 100%;
        height: auto;
        float: none;
        text-align: center;
        margin: 15px auto 0px auto;
    }
    .left-content {
        display: block;
        width: 100%;
        height: auto;
        float: none;
        text-align: center;
        margin: 15px auto 0px auto;
    }
    .right-content {
        display: block;
        width: 100%;
        height: auto;
        float: none;
        text-align: center;
        margin: 15px auto 0px auto;
        max-width: 90%;
    }
}

.p-stock {
    padding-top: 10px;
    font-size: 11pt;
}

.p-qty {
    padding-top: 5px;
    font-size: 11pt;
}


/*Top Navbar*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2,
h3,
a {
    color: #34495e;
}

a {
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    margin-top: 5px;
}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #34495e;
    font-size: .99em;
}

.main-nav a:hover {
    color: #718daa;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
        .header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}