#home {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}


/* Flex container */

#p-flex {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* Product items */

div.p-flex {
    width: 25%;
}

div.p-flex-in {
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    border: 1px solid #e7fcde;
    background: #f6fff2;
}

img.p-img {
    width: 100%;
    height: auto;
}

div.p-name {
    font-weight: bold;
    font-size: 1.1em;
}

div.p-price {
    color: #f44242;
}

div.p-desc {
    color: #888;
    font-size: 0.9em;
}

button.p-add {
    background: #f46b41;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px;
    margin: 10px 5px 5px 5px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}


/* Responsive */

@media only screen and (max-width: 1024px) {
    div.p-flex {
        width: 33%;
    }
}

@media only screen and (max-width: 600px) {
    div.p-flex {
        width: 50%;
    }
}


/* [DOES NOT MATTER] */

html,
body {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
}


/*Top Navbar*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2,
h3,
a {
    color: #34495e;
}

a {
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    margin-top: 5px;
}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #34495e;
    font-size: .99em;
}

.main-nav a:hover {
    color: #718daa;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
        .header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}