/*TABLE Responsive*/

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}

.p-img {
    height: 35px;
    width: 35px;
}


/*buttons*/

@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    background-color: #f8f8f8;
}

a {
    text-decoration: none;
}

#wrapper {
    text-align: center;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

h1 {
    padding-top: 30px;
    font-size: 25px;
    letter-spacing: 15px;
    color: #3AB09E;
}

#toolbar {
    width: 60px;
    right: 10px;
    bottom: 30px;
    position: fixed;
}

.button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    color: #00d3fb;
    text-align: center;
    font-size: 3em;
    position: relative;
    left: 50%;
    margin-left: -35px;
    z-index: 1;
}

.button,
.icons {
    -webkit-transition: -webkit-all 1s cubic-bezier(.87, -.41, .19, 1.44);
    transition: all 1s cubic-bezier(.87, -.41, .19, 1.44);
}

.button:after {
    content: "+";
}

.button:hover {
    box-shadow: 2px 2px 2px 2px #DCDCDC;
}

.popup {
    background: none repeat scroll 0 0 #fff;
    width: 150px;
    font-family: Lato;
    box-shadow: 2px 2px 2px 2px #DCDCDC;
    color: #00d3fb;
    overflow: hidden;
    right: 80px;
    line-height: 20px;
    position: absolute;
    top: 12px;
    font-size: 16px;
    padding: 10px;
}

.popupBox {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    -moz-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    -o-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}

.HoverElement:hover>.popupBox {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}


/*Top Navbar*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2,
h3,
a {
    color: #34495e;
}

a {
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    margin-top: 5px;
}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #34495e;
    font-size: .99em;
}

.main-nav a:hover {
    color: #718daa;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
        .header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

#addJewelForm {
    display: none;
}


/*Form*/

html {
    background-color: wheat;
}

body {
    background-color: white;
    font-family: Rockwell, Georgia, serif;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 4px 4px 8px rgba(0, 0, 0.15)
}

h1 {
    background-color: tomato;
    color: white;
    text-align: center;
    padding: 6px;
}

.column {
    width: 50%;
    float: left;
    padding: 2%;
    box-sizing: border-box;
}

.column {
    padding: 3%;
}


/*clear-fix the parent of column because it collapsed!  */

form:after {
    content: '';
    display: block;
    clear: both;
}


/* FORM STUFF BEGINS HERE */

form {
    font-size: 110%
}

label {
    display: block;
    color: saddlebrown;
    margin: 16px 0 3px;
}

fieldset label {
    display: inline-block;
    font-size: 85%;
    font-family: Calibri, sans-serif;
}

input[type=text],
input[type=text],
input[type=number],
textarea,
select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: cornsilk;
    border: solid 1px tan;
    font-family: 'Lucida Console', monospace;
}

textarea {
    resize: vertical;
    min-height: 70px;
}

fieldset {
    border: none;
    margin: 20px 0;
    padding: 10px 0;
    border-bottom: 1px solid tan;
}

legend {
    color: white;
    background-color: tan;
    display: block;
    width: 100%;
    padding: 3px;
}

input[type=checkbox] {
    background-color: red;
    border: solid 1px red;
    color: red;
    outline: red;
}


/* BUTTONS */

input[type=submit] {
    background-color: forestgreen;
    color: white;
    border: none;
    padding: 6px 20px;
    font-size: 110%;
    border-radius: 10px;
    font-family: Rockwell, georgia, serif;
}


/* Reset Button: minimize the appearance */

input[type=reset] {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    margin: 20px 0;
    color: olive;
}


/* hovers and tabs */

input[type=text]:hover,
input[type=email]:hover {
    background-color: khaki;
}

input[type=text]:focus,
input[type=email]:focus {
    outline: 2px solid tan;
}

input[type=sumbit]:hover,
input[type=submit]:focus {
    background-color: limegreen;
}


/* responsive bonus round */

@media screen and (min-width:450px) {
    /*  2col  */
    .column {
        width: 50%;
        float: left;
        padding: 3%;
        box-sizing: border-box;
    }
}